<div class="checkbox" id="user-subscribe-container" style="margin-top:0px;">
  <p>
    <%= f.check_box :subscribed, :checked => @user ? @user.subscribed : true, :autocomplete => 'off' %>
    <%= f.label :subscribed, Spree.t(:subscribed_label, scope: :chimpy) %>
    <%= f.email_field :old_email, :class => 'form-control, hidden', :value => @user ? @user.email : nil %>
  </p>
</div>